.navbar{
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.navbar .active{
    color: #cc1818;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}